<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
   <title>{{ page.title }}</title>
   <meta name="author" content="David Crawford" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />

   <!-- Fonts -->
   <link href='http://fonts.googleapis.com/css?family=Noto+Serif|Jacques+Francois|Donegal+One|Oxygen:400,700|Open+Sans:400,700|Raleway:400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="site">
  <img id="engine" alt="engine" src="/img/engine_etching.jpg" />

  <div class="top">
    <span class="large">I'm <span class="red">David Crawford</span>,</span> founder<br />
    of <a href="http://getmetrica.com" target="_BLANK">Metrica</a>.  This is what I think:
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
        David Crawford<br />
        Founder of <a href="http://getmetrica.com/">Metrica</a><br />
        david@getmetrica.com
    </div>
    <div class="contact">
      <p>
        <a href="http://twitter.com/dacattac">@dacattac</a><br />
        <a href="http://github.com/davidcrawford/">github.com/davidcrawford</a><br />
      </p>
    </div>
  </div>
</div>

</body>
</html>
